extends ../pages/_layout

block content
    div(style="float: right;")
        a(href='https://github.com/mlaval/poc-angular-react-native/tree/master/' + path) Edit this page on Github
    h1
        if component.description.flags.platform
            span.bg-info= component.description.flags.platform
        = component.description.name
    != component.description.doc
    if component.description.flags.style
        h4.cpt Available styles
        a(href=component.description.flags.style)= component.description.flags.style

    div(style="float: right;")
        if component.description.gif
            img.animatedgif(src='./assets/components/' + component.description.name.toLowerCase() + '.gif')
        if component.description.gifAndroid
            img.animatedgif(src='./assets/components/' + component.description.name.toLowerCase() + '_android.gif')
            if component.description.gifIOS
                i Android flavour
        if component.description.gifIOS
            img.animatedgif(src='./assets/components/' + component.description.name.toLowerCase() + '_ios.gif')
            if component.description.gifAndroid
                i iOS flavour

    h2 Inputs
    if component.description.name != 'HighLevelComponent'
        h4.cpt
            span Inherits all inputs from
            a(href="./highlevelcomponent.html")  high level component
    if component.inputs.length > 0
        each input in component.inputs
            h4.cpt
                if input.flags.platform
                    span.bg-info= input.flags.platform
                =input.name + ': ' + input.type
            != input.doc

    if component.outputs.length > 0
        h2 Outputs
        each output in component.outputs
            h4.cpt
                if output.flags.platform
                    span.bg-info= output.flags.platform
                = output.name + ': ' + output.type
            != output.doc

    if component.commands.length > 0
        h2 Commands
        each command in component.commands
            h4.cpt
                if command.flags.platform
                    span.bg-info= command.flags.platform
                = command.name + '(' + command.params + ')'
            != command.doc